<div class="container-fluid" ng-controller="CalculadoraMainCtrl">
    <div class="col-md-6">
        <form novalidate name="calcularForm" ng-submit="">
        <div accordion data-close-others="oneAtATime">
            <div accordion-group ng-repeat="category in categories"
                 data-is-open="$first"
                 data-is-disabled="meetsShowReq(category)">
                <div accordion-heading
                     ng-class="category.customId === 'ingenieria_en_sitio'? 'alto': ''">
                    {{category.nombre | capitalize}}
                    <div toggle-switch
                         class="pull-right"
                         data-on-label="Sí"
                         data-off-label="No"
                         ng-click="toggleSelected(category, isSelected)"
                         data-ng-model="isSelected"
                         ng-if="category.customId === 'ingenieria_en_sitio'"></div>
                </div>


                <ul ng-show="category.customId === 'tipo_de_cliente'" class="itemsList">
                    <li ng-repeat="item in category.conceptos">
                        <label class="concepto">
                            <input ng-if="category.multiple"
                                   type="checkbox"
                                   name="{{category.customId}}-concepto"
                                   checklist-model="category.rValue"
                                   data-checklist-value="item"/>
                            <input ng-if="!category.multiple"
                                   type="radio"
                                   name="{{category.customId}}-concepto"
                                   ng-model="category.rValue"
                                   ng-value="item"/>
                            {{item.nombre}}
                        </label>
                    </li>
                </ul>

                <div ng-show="category.customId === 'ingenieria_en_sitio'">
                    <div class="form-group col-md-12">
                        <select
                                ng-options="component as (component.nombre) for component in getChildrenList(category, 'componentes')"
                                data-ng-model="category.tempSelected"
                                title="Elige una opción"
                                class="form-control input-sm">
                            <option value="">Elige una opción</option>
                        </select>
                    </div>
                    <div class="col-md-12" ng-show="category.tempSelected.visible">
                        <div class="form-group col-md-4"
                             ng-show="category.tempSelected"
                             ng-repeat="property in category.tempSelected.propiedades">
                            <label class="control-label"
                                   ng-show="!isStringBoolean(property.tipo)">
                                {{property.nombre}}</label>
                            <input type="number"
                                   ng-show="isStringNumber(property.tipo)"
                                   class="form-control input-sm small-inputs"
                                   ng-model="property.rValueN"/>
                            <select class="form-control input-sm limit-size"
                                    title="{{ property.descripcion }}"
                                    data-ng-model="property.rValue"
                                    ng-show="isStringVolumetria(property.customId)">
                                <option value="1">Small Bussiness hasta 500 usuarios</option>
                                <option value="2">Medium Bussiness hasta 5,000 usuarios</option>
                                <option value="3">Datacenters & Large Enterprise más de 5,000 usuarios</option>
                            </select>
                            <label ng-show="isStringBoolean(property.tipo)">
                                <input type="checkbox"
                                       ng-model="property.rValue">
                                {{ property.nombre}}
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-show="category.customId === 'tecnologia'">
                    <div class="form-group col-md-12">
                        <select
                                ng-options="component as (component.nombre) for component in category.componentes"
                                data-ng-model="category.tempSelected"
                                title="Elige una tecnología"
                                class="form-control input-sm">
                            <option value="">Elige una tecnología</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4" ng-repeat="property in category.tempSelected.propiedades">
                            <label class="control-label"
                                   ng-show="!isStringBoolean(property.tipo)">
                                {{property.nombre}}</label>
                            <input type="number"
                                   ng-if="isStringNumber(property.tipo)"
                                   class="form-control input-sm small-inputs"
                                   placeholder="{{ property.customId }}"
                                   ng-change="showChildren(category.tempSelected)"
                                   ng-model="property.rValue"/>
                            <select class="form-control input-sm"
                                    title="{{ property.descripcion }}"
                                    data-ng-model="property.rValue"
                                    ng-options="sizeKey*1 as sizeValue for (sizeKey, sizeValue) in getCompanySizeOptions()"
                                    ng-show="isStringVolumetria(property.customId)">
                                <option value=""> -- Elige alguna -- </option>
                            </select>
                            <label ng-show="isStringBoolean(property.tipo)">
                                <input type="checkbox"
                                       ng-model="property.rValue">
                                {{ property.nombre }}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 form-group" ng-show="category.tempSelected.isPartialSelected">
                        <div class="col-sm-5">
                            <div class="btn-group">
                                <label class="btn btn-default"
                                       data-ng-model="category.tempSelected.deviceScope"
                                       data-ng-change="applyToChanged(category.tempSelected)"
                                       btn-radio="'all'">
                                    Todos
                                </label>
                                <label class="btn btn-default"
                                       data-ng-model="category.tempSelected.deviceScope"
                                       data-ng-change="applyToChanged(category.tempSelected)"
                                       btn-radio="'single'">
                                    Uno
                                </label>
                                <label class="btn btn-default"
                                       data-ng-model="category.tempSelected.deviceScope"
                                       data-ng-change="applyToChanged(category.tempSelected)"
                                       btn-radio="'range'">
                                    Varios
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <select ng-show="category.tempSelected.deviceScope === 'single'"
                                    ng-options="idx as category.tempSelected.nombre+' '+idx for idx in category.tempSelected.deviceCountArray"
                                    data-ng-model="category.tempSelected.currentScope"
                                    data-ng-change="deviceScopeChanged(category.tempSelected)"
                                    class="form-control input-sm min-width-x"
                                    title="elige uno para modificar sus opciones">
                                <option value="">Elige uno para modificar sus opciones</option>
                            </select>
                            <input type="number"
                                   placeholder="#"
                                   class="form-control input-sm"
                                   data-ng-model="category.tempSelected.currentScope"
                                   data-ng-change="deviceScopeChanged(category.tempSelected)"
                                   ng-show="category.tempSelected.deviceScope === 'range'">
                        </div>
                    </div>
                    <div class="col-md-12 form-group" ng-show="category.tempSelected.isFullSelected">
                        <div class="col-md-4 no-padding-right" ng-repeat="concepto in category.tempSelected.conceptos">
                            <label>
                                <input type="checkbox"
                                       checklist-model="category.tempSelected.currentSelection"
                                       data-checklist-value="concepto"
                                       data-checklist-change="updateSelections(category.tempSelected)"
                                       name="{{ category.customId }}-concepto">
                                {{ concepto.nombre }}
                            </label>
                        </div>
                        <div class="col-md-12 btn-group">
                            <a href=""
                               class="btn btn-link right-float"
                               title="Pegar"
                               ng-click="pasteSelection(category.tempSelected)"
                               data-ng-disabled="category.tempSelected.deviceScope === 'all' || !category.tempSelected.clipboard">
                                <span class="glyphicon glyphicon-paste"></span>
                            </a>
                            <a href=""
                               class="btn btn-link right-float"
                               title="Copiar"
                               ng-click="copySelection(category.tempSelected)"
                               data-ng-disabled="category.tempSelected.deviceScope === 'all'">
                                <span class="glyphicon glyphicon-copy"></span>
                            </a>
                            <a href=""
                               class="btn btn-link right-float"
                               title="Desmarcar todos"
                               ng-click="selectNone(category.tempSelected)"
                               data-ng-disabled="!category.tempSelected.currentSelection || !(category.tempSelected.currentSelection.length > 0)">
                                <span class="glyphicon glyphicon-unchecked"></span>
                            </a>
                            <a href=""
                               class="btn btn-link right-float"
                               title="Marcar todos"
                               ng-click="selectAll(category.tempSelected)"
                               data-ng-disabled="category.tempSelected.currentSelection && (category.tempSelected.currentSelection.length === category.tempSelected.conceptos.length)">
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div ng-show="isGenericCategory(category)">
                    <div class="form-group col-md-12">
                        <select
                                ng-options="component as (component.nombre) for component in getChildrenList(category, 'componentes')"
                                data-ng-model="category.tempSelected"
                                title="Elige una opción"
                                class="form-control">
                            <option value=""> -- Elige una opción -- </option>
                        </select>
                    </div>
                    <div class="col-md-12"
                         ng-show="category.tempSelected.visible">
                        <div class="form-group col-md-4"
                             ng-repeat="property in category.tempSelected.propiedades">
                            <label class="control-label"
                                   ng-show="!isStringBoolean(property.tipo)">
                                {{ property.nombre }}
                            </label>
                            <input type="number"
                                   ng-if="isStringNumber(property.tipo)"
                                   class="form-control"
                                   ng-model="property.rValue"/>
                            <select class="form-control"
                                    data-ng-model="property.rValue"
                                    ng-show="isStringList(property.tipo)">
                                <option value=""> -- Elige -- </option>
                            </select>
                            <select class="form-control"
                                    multiple
                                    data-ng-model="property.rValue"
                                    ng-show="isStringMultiple(property.tipo)">
                                <option value=""> -- Elige -- </option>
                            </select>
                            <label ng-show="isStringBoolean(property.tipo)">
                                <input type="checkbox"
                                       ng-model="property.rValue">
                                {{ property.nombre }}
                            </label>
                            <input type="text"
                                   ng-show="isStringText(property.tipo)"
                                   class="form-control"
                                   ng-model="property.rValue"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </form>
    </div>


    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h3>Resumen general</h3>
                </div>
                <div class="col-xs-12 col-md-12" ng-repeat="category in categories">
                    <div ng-show="anyValuedChild(category) && category.customId === 'tipo_de_cliente'"
                         class="col-xs-12 col-md-12 descRow">
                        <div class="col-xs-3">{{ category.nombre }}</div>
                        <div class="col-xs-9"><strong>{{ category.rValue.nombre }}</strong></div>
                    </div>

                    <div ng-show="anyValuedChild(category) && category.customId === 'ingenieria_en_sitio'"
                         class="col-xs-12 col-md-12 descRow">
                        <div class="col-xs-3">{{ category.nombre }}</div>
                        <div class="col-xs-9">
                            <div ng-repeat="componente in category.componentes"
                                 class=""
                                 ng-show="anyValuedChild(componente)">
                                {{ componente.nombre }}
                                <span class="" ng-repeat="propiedad in componente.propiedades">
                                    {{ propiedad.rValue }}</span>
                            </div>
                        </div>
                    </div>

                    <div ng-show="anyValuedChild(category) && category.customId == 'tecnologia'"
                         class="col-md-12 descRow">
                        <div class="col-xs-3">{{ category.nombre }}</div>
                        <div class="col-xs-9"></div>
                        <div class="col-xs-12" ng-repeat="componente in category.componentes"
                             ng-show="anyValuedChild(componente)">
                            <div class="col-xs-3">{{ componente.nombre }}</div>
                            <div class="col-xs-9">
                                <div ng-show="componente.propiedades[1].rValue">
                                    <span>volumetría <strong>{{ componente.propiedades[1].rValue }}</strong></span>
                                </div>
                                <!--<div ng-repeat="deviceCount in getDeviceCounts(componente.rValue)">-->
                                    <!--{{ deviceCount }}-->
                                    <!--&lt;!&ndash;{{ match.count }} {{ componente.customId }}(s): {{ match.selection.join(', ') }}&ndash;&gt;-->
                                <!--</div>-->
                                <!--<span style="white-space: pre;">{{ basura(componente) }}</span>-->
                                <!--<div ng-repeat="row in basura(componente)">-->
                                    <!--{{ row }}-->
                                <!--</div>-->
                                <span ng-bind-html="basura(componente)"></span>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
                <!--<button type="button" class="btn btn-primary" ng-click="calcular()"-->
                        <!--data-ng-disabled="isReady()">Calcular-->
                <!--</button>-->
                <div class="col-md-12 pull-right">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="getResults()"
                            data-ng-disabled="calcularForm.$invalid || !calcularForm.$dirty">
                        Calcular
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div ng-show="resultados">
            <h4>Número de tickets</h4>
            <p>
                Acontinuación se muestran los resultados de manera desglosada.
            </p>
            <p>
                La primera fila tiene la información 'base' de número de tickets. El registro (en BD) seleccionado
                coincide con todas o el mayor numero de 'dependencias' seleccionadas por el usuario.
            </p>
            <p>
                Las filas restantes mustran el resultado parcial obtenido al aplicar los factores coincidentes, de
                acuerdo a lo seleccionado por el usuario.
            </p>
            <p>
                La última fila es el resultado total.
            </p>
            <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>CC</th>
                <th>ES</th>
                <th>RQ</th>
                <th>AS</th>
                </thead>
                <tbody ng-repeat="row in resultados">
                <tr title="">
                    <td>{{row.ticket.nombre}}</td>
                    <td>{{row.ticket.descripcion}}</td>
                    <td>{{row.ticket.cc}}</td>
                    <td>{{row.ticket.es}}</td>
                    <td>{{row.ticket.rq}}</td>
                    <td>{{row.ticket.acs}}</td>
                </tr>
                <tr ng-repeat="res in row.factores"
                    ng-class="$last? 'success': ''"
                    title="{{res.factor}}">
                    <td>{{res.nombre | strip:'_':' ':true}}</td>
                    <td>{{res.descripcion}}</td>
                    <td>{{res.cc}}</td>
                    <td>{{res.es}}</td>
                    <td>{{res.rq}}</td>
                    <td>{{res.acs}}</td>
                </tr>
                <tr class="warning" ng-show="row.ticket.best.missing && row.ticket.best.missing.length > 0">
                    <td><strong>Faltantes</strong></td>
                    <td colspan="5">{{row.ticket.best.missing | joinArray}}</td>
                </tr>
                <!--<tr class="success">-->
                    <!--<td><strong>Extra</strong></td>-->
                    <!--<td colspan="5">{{row.ticket.best.extra | joinArray}}</td>-->
                <!--</tr>-->
                <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                </tbody>
            </table>
            </div>
        </div>
        <div ng-show="noMatches()">
            Ninguna regla coincide para lo seleccionado
        </div>
    </div>

</div>
