<div class="container-fluid">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="#/servicios" ng-if="!isRoot()">Todos</a>
                <span ng-if="isRoot()">Todos</span> </li>
            <li ng-repeat="item in currentParents" ng-class="{'active':$last}">
                <a href="#/servicios/{{ item.customId }}">{{item.nombre}}</a>
            </li>
            <li ng-if="!isRoot()">
                <span>{{ currentSelection.nombre }}</span>
            </li>
        </ol>
    </div>


    <div class="col-md-12">
        <div alert
             ng-repeat="alert in alerts"
             data-type="{{alert.type}}"
             data-close="closeAlert($index)">
            {{alert.msg}}</div>
    </div>


    <div ng-class="currentSelection.nodeType == 'LEAF'? 'col-md-12': 'col-md-8'" ng-show="!isRoot()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Datos de <span class="gray-higher">{{currentSelection.nombre | capitalize}}</span>
                    <label class="pull-right" ng-show="rolesName.indexOf(currentSelection.customId) > -1">
                        <input type="checkbox"
                               ng-model="currentSelection.visible"
                               ng-change="updateVisibility(currentSelection)">
                        Visible
                    </label>
                    <!--<small class="pull-right">{{currentSelection.domainClass}} ({{currentSelection.nodeType}})</small>-->
                </h4></div>
            <div class="panel-body">
                <!--<label>-->
                    <!--<input type="checkbox"-->
                           <!--ng-model="currentSelection.visible"-->
                           <!--ng-change="updateVisibility(currentSelection)">-->
                    <!--Visible-->
                <!--</label>-->
                <div ng-if="!isRoot(currentSelection)">
                    <form novalidate
                          name="generalesForm"
                          ng-submit="updateGenerals(currentSelection)">
                    <div class="form-group"
                         ng-class="{'has-error': generalesForm.nombre.$invalid && generalesForm.nombre.$dirty}">
                        <label for="descName"
                               class="control-label">
                            Nombre
                            <span ng-show="generalesForm.nombre.$dirty && generalesForm.nombre.$error.required"
                                  class="text-danger"> *</span>
                        </label>
                        <input type="text"
                               class="form-control"
                               id="descName"
                               name="nombre"
                               required
                               ng-model="currentSelection.nombre">
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': generalesForm.descripcion.$invalid && generalesForm.descripcion.$dirty}">
                        <label for="descInpt" class="control-label">
                            Descripción
                            <span ng-show="generalesForm.descripcion.$dirty && generalesForm.descripcion.$error.required"
                                  class="text-danger"> *</span>
                        </label>
                        <textarea class="form-control"
                                  id="descInpt"
                                  required
                                  name="descripcion"
                                  rows="5" style="resize: none;"
                                  data-ng-model="currentSelection.descripcion"></textarea>
                    </div>
                        <div class="col-md-12">
                            <button type="submit"
                                    data-ng-disabled="generalesForm.$invalid || !generalesForm.$dirty"
                                    class="btn btn-primary pull-right">
                                <span class="glyphicon glyphicon-edit"></span>
                                Actualizar</button>
                        </div>
                    </form>
                </div>
                <!--<div ng-if="currentSelection.nodeType == 'ROOT'">-->
                    <!--<div class="form-group">-->
                        <!--<label for="descInpt" class="control-label">Descripción</label>-->
                        <!--<input type="text"-->
                               <!--class="form-control"-->
                               <!--id="descInpt"-->
                               <!--ng-model="currentSelection.descripcion"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div ng-if="currentSelection.nodeType == 'LEAF'">-->
                    <!--<div class="form-group">-->
                        <!--<label for="descInpt2" class="control-label">Descripción</label>-->
                        <!--<input type="text"-->
                               <!--class="form-control"-->
                               <!--id="descInpt2"-->
                               <!--ng-model="currentSelection.descripcion"/>-->
                    <!--</div>-->
                <!--</div>-->
                <div ng-if="currentSelection.nodeType == 'BRANCH'" class="col-md-12">
                    <div class="page-header">
                        <h3>Propiedades
                            <small>
                                <a href=""
                                   ng-click="showPropForm()"
                                   ng-hide="addingProperty"
                                   class="btn btn-link pull-right">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Nueva
                                </a>
                            </small>
                        </h3>
                    </div>
                    <div class="col-md-12 form-group" ng-repeat="prop in currentSelection.propiedades">
                        <strong>{{prop.nombre | capitalize}}</strong> es de tipo <em>{{prop.tipo}}</em>
                        <a href=""
                           ng-click="dropProperty(prop, currentSelection)"
                           class="btn btn-link pull-right">
                            <i class="glyphicon glyphicon-trash"></i> </a>
                        <ul ng-show="prop.options">
                            <li ng-repeat="opt in prop.options">
                                {{ opt }}
                            </li>
                        </ul>
                    </div>
                </div>

                <!--<div class="col-md-12" ng-if="currentSelection.nodeType == 'BRANCH'">-->
                    <!--<button class="btn btn-default btn-sm btn-add-prop"-->
                            <!--ng-click="showPropForm()"-->
                            <!--ng-hide="addingProperty">-->
                        <!--Nueva propiedad</button>-->
                <!--</div>-->
                <div ng-show="addingProperty">
                    <form novalidate
                          name="newPropertyForm">
                        <div class="col-md-12">
                            <div alert
                                 ng-repeat="alert in propertyAlerts"
                                 data-type="{{alert.type}}"
                                 data-close="closeAlert2($index)">
                                {{alert.msg}}</div>
                        </div>
                    <div class="form-group"
                         ng-class="{'has-error': newPropertyForm.nombre.$invalid && newPropertyForm.nombre.$dirty}">
                        <label for="propName"
                               class="control-label">
                            Nombre
                            <span ng-show="newPropertyForm.nombre.$dirty && newPropertyForm.nombre.$error.required"
                                  class="text-danger"> *</span>
                        </label>
                        <input type="text"
                               class="form-control"
                               id="propName"
                               name="nombre"
                               required
                               ng-model="newProperty.nombre"/>
                        <span class="help-block text-danger"
                              ng-show="newPropertyForm.nombre.serverErrors">
                            <span ng-repeat="errorMessage in newPropertyForm.nombre.serverErrors">
                                {{errorMessage}}</span>
                        </span>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': newPropertyForm.descripcion.$invalid && newPropertyForm.descripcion.$dirty}">
                        <label for="propDesc"
                               class="control-label">
                            Descripción
                            <span ng-show="newPropertyForm.descripcion.$dirty && newPropertyForm.descripcion.$error.required"
                                  class="text-danger"> *</span>
                        </label>
                        <textarea name="descripcion"
                                  id="propDesc"
                                  required
                                  class="form-control"
                                  data-ng-model="newProperty.descripcion"
                                  rows="5" style="resize: none;"></textarea>
                        <span class="help-block text-danger"
                              ng-show="newPropertyForm.descripcion.serverErrors">
                            <span ng-repeat="errorMessage in newPropertyForm.descripcion.serverErrors">
                                {{errorMessage}}</span>
                        </span>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': newPropertyForm.tipo.$invalid && newPropertyForm.tipo.$dirty}">
                        <label for="propType"
                               class="control-label">
                            Tipo
                            <span ng-show="newPropertyForm.tipo.$dirty && newPropertyForm.tipo.$error.required"
                                  class="text-danger"> *</span>
                        </label>
                        <select data-ng-model="newProperty.tipo"
                                class="form-control"
                                required
                                name="tipo"
                                ng-options="type for type in propertyTypes"
                                id="propType">
                            <option value=""
                                    ng-class="{'text-danger': newPropertyForm.tipo.$dirty && newPropertyForm.tipo.$error.required}">
                                -- Elige -- </option>
                        </select>
                        <span class="help-block text-danger"
                              ng-show="newPropertyForm.tipo.serverErrors">
                            <span ng-repeat="errorMessage in newPropertyForm.tipo.serverErrors">
                                {{errorMessage}}</span>
                        </span>
                    </div>
                        <div class="form-group" ng-show="isIn(newProperty.tipo, ['CHECK', 'RADIO'])">
                            <div class="list-group">
                                <span class="list-group-item" ng-repeat="opt in newProperty.options">
                                    {{ opt }}
                                </span>
                                <input type="text"
                                       placeholder="Agregar opción"
                                       class="form-control"
                                       data-no-submit
                                       ng-model="newProperty.tempOpt">
                            </div>
                        </div>
                    <div class="btn-group new-prop-btns pull-right">
                        <button class="btn btn-default btn-sm btn-add-prop"
                                ng-click="addProp(currentSelection)">
                            Agregar</button>
                        <button class="btn btn-default btn-sm btn-add-prop"
                                ng-click="cancelProp()">
                            Cancelar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <div class="col-md-4" ng-show="currentSelection.nodeType != 'LEAF'">
        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    <h4 class="text-center">
                        {{currentSelection.length !== categories.length? 'Hijos de '+currentSelection.nombre: 'Todas las categorías'}}
                    </h4>
                </div>
            </div>
            <div ng-repeat="child in getChildren(currentSelection)"
                 class="col-sm-12 list-group-item"
                 ng-class="$last? 'spaced-bottom': ''">
                <a href="#/servicios/{{ child.customId }}"
                   class="col-sm-10">
                    {{child.nombre}}
                    <span class="pull-right">
                        <!--<small class="">-->
                            <!--&lt{{child.domainClass}}&gt-->
                        <!--</small>-->
                        <a href=""
                           ng-click="removeChild(child)"
                           style="background-image: none !important;"
                           class="btn btn-default col-sm-2 pull-right btn-xs">
                            <i class="glyphicon glyphicon-trash"></i> </a>
                    </span>
                </a>
                <!--<a href=""-->
                <!--ng-click="removeChild($index)"-->
                <!--class="btn btn-default col-sm-2">-->
                <!--<i class="glyphicon glyphicon-trash"></i> </a>-->
            </div>

            <div class="list-group-item-header">
                <h4 class="text-center list-group-item-success"
                    style="padding-bottom: 10px; margin-top: 10px; margin-bottom: 0;">
                    Nuevo elemento</h4>
                <form class="form" novalidate name="newItemForm">
                    <div class="" ng-show="!isRoot()">
                        <label>
                            <input type="radio" name="domainType" value="concepto"
                                   ng-checked="currentSelection.domainClass.toLowerCase() === 'conceptoespecial'"
                                   ng-required="!isRoot()"
                                   ng-model="newItem.domainType">Concepto
                        </label>
                        <label ng-show="currentSelection.domainClass.toLowerCase() !== 'conceptoespecial'">
                            <input type="radio" name="domainType"
                                   value="componente"
                                   ng-required="!isRoot()"
                                   ng-model="newItem.domainType">Componente
                        </label>
                    </div>
                    <div class=""
                         ng-class="{'has-error': newItemForm.nombre.$invalid && newItemForm.nombre.$dirty}">
                        <input placeholder="Nombre"
                               name="nombre"
                               required
                               class="form-control"
                               ng-model="newItem.nombre">
                            <span ng-show="newItemForm.nombre.$dirty && newItemForm.nombre.$error.required"
                                  class="help-block text-danger">Requerido</span>
                    </div>
                    <div class=""
                         ng-class="{'has-error': newItemForm.descripcion.$invalid && newItemForm.descripcion.$dirty}">
                        <input type="text"
                               placeholder="Descripción"
                               name="descripcion"
                               class="form-control"
                               ng-model="newItem.descripcion">
                            <span ng-show="newItemForm.descripcion.$dirty && newItemForm.descripcion.$error.required"
                                  class="help-block text-danger">Requerido</span>
                    </div>
                    <button type="submit"
                            class="btn btn-default form-control"
                            ng-click="addItem(newItem)"
                            data-ng-disabled="newItemForm.$invalid">
                        <span class="glyphicon glyphicon-plus"></span> Agregar
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    
    <div class="col-md-8" ng-if="!currentSelection">
        <p>Elige un elemento para editar sus propiedades y administrar sus 'hijos'</p>
        <p>Los elementos forman una estructura de arbol. Existen 4 tipos de nodos:</p>
        <ol>
            <li><strong>Categoria</strong> Es el nodo raiz de un 'grupo' de elementos con alguna relación estrecha
                . Puede tener hijos ConceptoEspecial y Concepto</li>
            <li><strong>ConceptoEspecial</strong> Estos nodos son intermedios y sirven como contenedores de otros
                nodos que son los que definen propiedades y demás, no pueden ser nodos raíz ni hoja.
                Se les puede asignar propiedades 'especiales', por ejemplo la cantidad de dispositivos, que afectan a
                todos sus nodos hijos. Puede tener hijos: Concepto y Propiedad.</li>
            <li><strong>Propiedad</strong> Solo pueden ser hijos de ConceptoEspecial. Cada uno de estos nodos
                representa alguna característica, por ejemplo la cantidad de dispositivos.</li>
            <li><strong>Concepto</strong> Son nodos hoja, por ejemplo los servicios de un firewall</li>
        </ol>
    </div>

</div>