<div class="row" help-overlay="showHelp">
    <div class="col-md-12" id="dependencies-container">
        <div class="page-header">
            <h1>{{ticket.id > 0? 'Editar': 'Crear'}}
                <small>Ticket {{ ticket.id > 0? ticket.id: '' }}</small>
                <button class="btn"
                        ng-class="showHelp? 'btn-info': 'btn-link'"
                        type="button"
                        data-position="left"
                        data-intro="Ocultar"
                        ng-click="toggleHelp()">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </button>
            </h1>
        </div>

        <div alert ng-repeat="alert in alerts" data-type="{{alert.type}}" data-close="closeAlert($index)">
            {{alert.msg}}</div>

        <form novalidate class="" name="createForm" ng-submit="createTicketAjax()">
            <div class="form-horizontal col-md-12">
                <div class="form-group col-md-10">
                    <label for="nombre" class="control-label col-md-2">Nombre</label>
                    <div class="col-md-10">
                        <input type="text" name="nombre" id="nombre" class="form-control" required
                               ng-model="ticket.nombre">
                        <span style="color: #ff0000;" ng-show="createForm.nombre.$dirty && createForm.nombre.$invalid">
                            <span ng-show="createForm.nombre.$error.required">
                                Requerido</span>
                        </span>
                        <span style="color: #ff0000;" ng-show="createForm.nombre.serverErrors">
                            <span ng-repeat="errorMessage in createForm.nombre.serverErrors">{{errorMessage}}</span>
                        </span>
                    </div>
                </div>

                <div class="row"
                     data-intro="Esos valores son la cantidad de tickets asignados al conjunto de reglas definidas como dependencias."
                     data-position="top">
                <div class="form-group col-md-5">
                    <label for="cc" class="control-label col-md-4">CC</label>
                    <div class="col-md-8">
                        <input type="number"
                               name="cc"
                               id="cc"
                               class="form-control"
                               required
                               value="0"
                               ng-model="ticket.cc">
                        <span style="color: #ff0000;" ng-show="createForm.cc.$dirty && createForm.cc.$invalid">
                            <span ng-show="!createForm.cc.$error.number && createForm.cc.$error.required">
                                Requerido</span>
                            <span ng-show="createForm.cc.$error.number">Solo números</span>
                        </span>
                        <span style="color: #ff0000;" ng-show="createForm.cc.serverErrors">
                            <span ng-repeat="errorMessage in createForm.cc.serverErrors">{{errorMessage}}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="es" class="control-label col-md-4">ES</label>
                    <div class="col-md-8">
                        <input type="number"
                               name="es" id="es"
                               class="form-control"
                               required
                               value="0"
                               ng-model="ticket.es">
                        <span style="color: #ff0000;" ng-show="createForm.es.$dirty && createForm.es.$invalid">
                            <span ng-show="!createForm.es.$error.number && createForm.es.$error.required">
                                Requerido</span>
                            <span ng-show="createForm.es.$error.number">Solo números</span>
                        </span>
                        <span style="color: #ff0000;" ng-show="createForm.es.serverErrors">
                            <span ng-repeat="errorMessage in createForm.es.serverErrors">{{errorMessage}}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="acs" class="control-label col-md-4">AS</label>
                    <div class="col-md-8">
                        <input type="number"
                               name="acs"
                               id="acs"
                               class="form-control"
                               required
                               value="0"
                               ng-model="ticket.acs">
                        <span style="color: #ff0000;" ng-show="createForm.acs.$dirty && createForm.acs.$invalid">
                            <span ng-show="!createForm.acs.$error.number && createForm.acs.$error.required">
                                Requerido</span>
                            <span ng-show="createForm.acs.$error.number">Solo números</span>
                        </span>
                        <span style="color: #ff0000;" ng-show="createForm.acs.serverErrors">
                            <span ng-repeat="errorMessage in createForm.acs.serverErrors">{{errorMessage}}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="rq" class="control-label col-md-4">RQ</label>
                    <div class="col-md-8">
                        <input type="number"
                               name="rq" id="rq"
                               class="form-control"
                               required
                               value="0"
                               ng-init="ticket.rq=0"
                               ng-model="ticket.rq">
                        <span style="color: #ff0000;" ng-show="createForm.rq.$dirty && createForm.rq.$invalid">
                            <span ng-show="!createForm.rq.$error.number && createForm.rq.$error.required">
                                Requerido</span>
                            <span ng-show="createForm.rq.$error.number">Solo números</span>
                        </span>
                        <span style="color: #ff0000;" ng-show="createForm.rq.serverErrors">
                            <span ng-repeat="errorMessage in createForm.rq.serverErrors">{{errorMessage}}</span>
                        </span>
                    </div>
                </div>
                </div>

                <div class="form-group col-md-10"
                     ng-class="{'has-error': createForm.descripcion.$invalid && createForm.descripcion.$dirty}">
                    <label for="descripcion" class="control-label col-md-2">
                        Descripción
                        <span class=""
                              ng-show="createForm.descripcion.$dirty && createForm.descripcion.$invalid">
                            <span ng-show="createForm.descripcion.$error.required">
                                *</span>
                        </span>
                    </label>
                    <div class="col-md-10">
                        <textarea id="descripcion"
                                  rows="5" style="resize: none;"
                                  name="descripcion"
                                  required
                                  class="form-control"
                                  data-ng-model="ticket.descripcion"></textarea>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Dependencias</h4></div>
                    <div class="panel-body">Usa el select para agregar más dependencias</div>
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>ID</th>
                        <th ng-show="countableDeps(ticket.dependencies)>0">Inferior</th>
                        <th ng-show="countableDeps(ticket.dependencies)>0">Superior</th>
                        <th></th>
                        </thead>
                        <tbody data-position="top"
                               data-intro="Aqui, a diferencia de los Factores, puede haber varias dependencias con restricciones de rango: valores inferior y superior.">
                        <tr  ng-form="tempForm" ng-repeat="dependency in ticket.dependencies"
                             title="{{dependency.item.descripcion}}">
                            <td>{{dependency.item.customId | strip:'_':' ':true}}</td>
                            <td class="min-width-70"
                                ng-show="countableDeps(ticket.dependencies)>0">
                                <div ng-show="!dependency.item.single">
                                <input class="form-control numbers"
                                       type="number"
                                       ng-model="dependency.lowerLimit"
                                       ng-change="watchEmpty(dependency)"
                                       min="0"
                                       name="lowerLimit">
                                <span style="color: #ff0000;"
                                      ng-show="tempForm.lowerLimit.$dirty && tempForm.lowerLimit.$invalid">
                                    <span
                                            ng-show="!tempForm.lowerLimit.$error.number && tempForm.lowerLimit.$error.required">Requerido</span>
                                    <span ng-show="tempForm.lowerLimit.$error.min">El
                                    valor mínimo es 0</span>
                                    <span ng-show="tempForm.lowerLimit.$error.number">Solo números</span>
                                </span>
                                <span style="color: #ff0000;" ng-show="createForm[dependency.item.customId+'.lowerLimit'].serverErrors">
                                    <span ng-repeat="errorMessage in createForm[dependency.item.customId+'.lowerLimit'].serverErrors">{{errorMessage}}</span>
                                </span>
                                </div>
                            </td>
                            <td class="min-width-70"
                                ng-show="countableDeps(ticket.dependencies)>0">
                                <div ng-show="!dependency.item.single">
                                <input type="number"
                                       name="upperLimit"
                                       class="form-control numbers"
                                       ng-model="dependency.upperLimit"
                                       string-to-number
                                       depends-on="{{dependency.lowerLimit}}"
                                       ng-disabled="tempForm.lowerLimit.$invalid || !dependency.lowerLimit">
                                <span style="color: #ff0000;"
                                      ng-show="tempForm.upperLimit.$dirty && tempForm.upperLimit.$invalid">
                                    <span
                                            ng-show="!tempForm.upperLimit.$error.number && tempForm.upperLimit.$error.required">
                                        Requerido</span>
                                    <span ng-show="tempForm.upperLimit.$error.min">No puede ser menor a
                                    {{dependency.lowerLimit}}</span>
                                    <span ng-show="tempForm.upperLimit.$error.number && !tempForm.upperLimit.$error.range">
                                        Solo números</span>
                                    <span
                                            ng-show="tempForm.upperLimit.$error.range">No puede ser
                                    menor a
                                    {{dependency.lowerLimit}}</span>
                                </span>
                                <span style="color: #ff0000;" ng-show="tempForm.upperLimit.serverErrors">
                                    <span ng-repeat="errorMessage in tempForm.upperLimit.serverErrors">{{errorMessage}}</span>
                                </span>
                                </div>
                            </td>
                            <td><a href="" ng-click="dropDep($index)"
                                   class="btn btn-danger"
                                   title="eliminar"><i
                                    class="glyphicon glyphicon-trash"></i>
                            </a> </td>
                        </tr>
                        <tr title="Agregar dependencia" class="addRow">
                            <td colspan="3">
                                <select data-ng-model="lastAdded"
                                        ng-options="ava as (ava.customId | strip:'_':' ':true) for ava in available"
                                        data-ng-change="addDepRow()"
                                        title="Selecciona para agregar"
                                        class="form-control">
                                    <option value="" class="text-center"> -- Agregar dependencia --</option>
                                </select>
                            </td>
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 form-group center-block">
                <button type="submit"
                        class="btn btn-primary"
                        data-ng-disabled="!isFormOk(createForm, ticket)">
                    <span class="glyphicon"
                          ng-class="ticket.id>0? 'glyphicon-edit': 'glyphicon-plus-sign'"></span>
                    {{ticket.id > 0? 'Editar': 'Crear'}}</button>
                <a href="#/tickets" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                    Cancelar
                </a>
            </div>

        </form>
    </div>
    <br/>

</div>
