<div class="row">
    <div class="page-header">
        <h1>Tickets <small class="label label-default">{{ ticketList.length }}</small></h1>
    </div>
    <div class="col-xs-12 col-md-12 form-group">
        <div class="col-xs-12 col-md-2"><label class="control-label">Filtrar por</label> </div>
        <div class="col-xs-12 col-md-3">
            <input type="text"
                   id="searchbox"
                   ng-model="search"
                   ng-change="filter()"
                   placeholder="Palabra/Frase clave"
                   class="form-control">
        </div>
        <div class="col-xs-12 col-md-2 pull-right">
            <a href="#/ticket/" class="btn btn-link" aria-label="Agregar ticket">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</a>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-md-12 form-group" ng-show="filteredItems > 0">
            <table class="table table-striped ">
                <thead>
                <th>Nombre<a ng-click="sort_by('nombre');"><i class="glyphicon glyphicon-sort"></i> </a> </th>
                <th>Descripción<a ng-click="sort_by('descripcion');"><i class="glyphicon glyphicon-sort"></i> </a> </th>
                <th></th>
                </thead>
                <tbody>
                <tr
                        ng-repeat="data in filtered = (ticketList | filter:search | orderBy :predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td><a href="#/ticket/{{data.id}}"> {{data.nombre}}</a></td>
                    <td>{{data.descripcion}}</td>
                    <td class="text-center">
                        <a href=""
                           ng-click="deleteTicket($index)"
                           class="btn btn-link"
                           title="Eliminar">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" ng-show="filteredItems == 0">
            <div class="col-md-12">
                <h4>No se han encontrado registros</h4>
            </div>
        </div>
        <div class="col-md-12" ng-show="filteredItems > entryLimit">
            <div pagination=""
                 ng-model="currentPage"
                 on-select-page="setPage(currentPage)"
                 boundary-links="true"
                 total-items="filteredItems"
                 items-per-page="entryLimit"
                 max-size="15"
                 class="pagination-small"
                 first-text="Inicio"
                 last-text="Fin"
                 previous-text="&laquo;"
                 next-text="&raquo;">
            </div>
        </div>
    </div>
</div>
