<div>
    <span us-spinner="{radius:30, width:8, length:16}"></span>
    <div class="col-md-12" id="dependencies-container">
        <div class="page-header">
            <h1>{{factor.id > 0? 'Editar': 'Crear'}} <small>Factor {{ factor.id > 0? factor.id: '' }}</small></h1>
        </div>

        <div alert ng-repeat="alert in alerts" data-type="{{alert.type}}" data-close="closeAlert($index)">
            {{alert.msg}}</div>

        <form novalidate class="" name="createForm" ng-submit="createFactorAjax()">
            <div class="form-horizontal col-md-12">
                <div class="form-group col-md-5">
                    <label for="nombre" class="control-label col-md-4">Nombre</label>
                    <div class="col-md-8">
                        <input type="text" name="nombre" id="nombre" class="form-control" required
                               ng-model="factor.nombre">
                        <span style="color: #ff0000;" ng-show="createForm.nombre.$dirty && createForm.nombre.$invalid">
                            <span ng-show="createForm.nombre.$error.required">
                                Requerido</span>
                        </span>
                        <span style="color: #ff0000;" ng-show="createForm.nombre.serverErrors">
                            <span ng-repeat="errorMessage in createForm.nombre.serverErrors">{{errorMessage}}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="factor" class="control-label col-md-4">Factor</label>

                    <div class="col-md-8">
                        <input type="number" name="factor" id="factor" class="form-control" step="0.25" required
                               ng-model="factor.factor">
                        <span style="color: #ff0000;" ng-show="createForm.factor.$dirty && createForm.factor.$invalid">
                            <span ng-show="!createForm.factor.$error.number && createForm.factor.$error.required">
                                Requerido</span>
                            <span ng-show="createForm.factor.$error.number">Solo números</span>
                        </span>
                        <span style="color: #ff0000;" ng-show="createForm.factor.serverErrors">
                            <span ng-repeat="errorMessage in createForm.factor.serverErrors">{{errorMessage}}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-10"
                     ng-class="{'has-error': createForm.target.$invalid && createForm.target.$dirty}">
                    <label for="target" class="control-label col-md-2">
                        Aplicar a
                        <span ng-show="createForm.target.$dirty && createForm.target.$invalid">
                            <span ng-show="createForm.target.$error.required">
                                *</span>
                        </span>
                    </label>
                    <div class="col-md-6">
                    <select multiple
                            id="target"
                            name="target"
                            required
                            data-ng-model="factor.target"
                            class="form-control">
                        <option>CC</option>
                        <option>ES</option>
                        <option>ACS</option>
                        <option>RQ</option>
                    </select>
                    </div>
                    <div class="col-md-4 help-block">
                        Utiliza <kbd>ctrl + click</kbd> para elegir varias opciones
                    </div>
                </div>

                <div class="form-group col-md-10"
                     ng-class="{'has-error': createForm.descripcion.$invalid && createForm.descripcion.$dirty}">
                    <label for="descripcion" class="control-label col-md-2">
                        Descripción
                        <span class=""
                             ng-show="createForm.descripcion.$dirty && createForm.descripcion.$invalid">
                            <span ng-show="createForm.descripcion.$error.required">
                                *</span>
                        </span>
                    </label>
                    <div class="col-md-10">
                        <textarea id="descripcion"
                                  rows="5" style="resize: none;"
                                  name="descripcion"
                                  required
                                  class="form-control"
                                  data-ng-model="factor.descripcion"></textarea>
                    </div>
                </div>

            </div>


            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Dependencias
                            <!--<small class="text-danger pull-right">-->
                                <!--<span class="glyphicon glyphicon-alert"></span>-->
                                <!--El factor puede tener muchas dependencias pero SOLO se puede agregar UNA DEPENDENCIA -->
                                <!--con valores INFERIOR, SUPERIOR o STEP. Falta programar dicha restricción, por favor -->
                                <!--tenerlo en mente al momento de crear o editar los factores.-->
                            <!--</small>-->
                        </h4></div>
                    <div class="panel-body">
                        Usa el select para agregar más dependencias
                        <!--<p class="text-danger">-->
                            <!--<span class="glyphicon glyphicon-alert"></span>-->
                            <!--El factor puede tener muchas dependencias pero <strong>SOLO</strong> se puede agregar-->
                            <!--<strong>UNA DEPENDENCIA con valores INFERIOR, SUPERIOR y/o STEP</strong>.-->
                            <!--Falta programar dicha restricción, por favor tenerlo en mente al momento de crear o-->
                            <!--editar los factores.-->
                        <!--</p>-->
                        <div alert data-type="warning" ng-show="multipleError" data-close>
                            <span class="glyphicon glyphicon-warning-sign"></span>
                             * Solo puede haber una dependencia con valor inferior, superior y/o step
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>ID</th>
                        <th ng-show="countableDeps(factor.dependencies) > 0">Inferior</th>
                        <th ng-show="countableDeps(factor.dependencies) > 0">Superior</th>
                        <th ng-show="countableDeps(factor.dependencies) > 0">step</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr  ng-form="tempForm" ng-repeat="dependency in factor.dependencies"
                             title="{{dependency.item.descripcion}}">
                            <td>{{dependency.item.customId | strip:'_':' ':true}}</td>
                            <td class="min-width-70"
                                ng-show="countableDeps(factor.dependencies) > 0">
                                <div ng-show="!dependency.item.single">
                                <input class="form-control numbers"
                                       type="number"
                                       ng-model="dependency.lowerLimit"
                                       ng-change="watchDeps(factor.dependencies); watchEmpty(dependency)"
                                       min="0"
                                       name="lowerLimit">
                                <span style="color: #ff0000;"
                                      ng-show="tempForm.lowerLimit.$dirty && tempForm.lowerLimit.$invalid">
                                    <span
                                            ng-show="!tempForm.lowerLimit.$error.number && tempForm.lowerLimit.$error.required">
                                        Requerido</span>
                                    <span ng-show="tempForm.lowerLimit.$error.min">
                                        El valor mínimo es 0</span>
                                    <span ng-show="tempForm.lowerLimit.$error.number">
                                        Solo números</span>
                                </span>
                                <span style="color: #ff0000;" ng-show="createForm[dependency.item.customId+'.lowerLimit'].serverErrors">
                                    <span ng-repeat="errorMessage in createForm[dependency.item.customId+'.lowerLimit'].serverErrors">{{errorMessage}}</span>
                                </span>
                                </div>
                            </td>
                            <td class="min-width-70"
                                ng-show="countableDeps(factor.dependencies) > 0">
                                <div ng-show="!dependency.item.single">
                                <input type="number"
                                       name="upperLimit"
                                       class="form-control numbers"
                                       ng-model="dependency.upperLimit"
                                       ng-change="watchDeps(factor.dependencies)"
                                       string-to-number
                                       depends-on="{{dependency.lowerLimit}}"
                                       ng-disabled="tempForm.lowerLimit.$invalid || !dependency.lowerLimit">
                                <span style="color: #ff0000;"
                                      ng-show="tempForm.upperLimit.$dirty && tempForm.upperLimit.$invalid">
                                    <span
                                            ng-show="!tempForm.upperLimit.$error.number && tempForm.upperLimit.$error.required">
                                        Requerido</span>
                                    <span ng-show="tempForm.upperLimit.$error.min">No puede ser menor a
                                    {{dependency.lowerLimit}}</span>
                                    <span ng-show="tempForm.upperLimit.$error.number && !tempForm.upperLimit.$error.range">Solo números</span>
                                    <span
                                            ng-show="tempForm.upperLimit.$error.range">No puede ser
                                    menor a
                                    {{dependency.lowerLimit}}</span>
                                </span>
                                <span style="color: #ff0000;" ng-show="tempForm.upperLimit.serverErrors">
                                    <span ng-repeat="errorMessage in tempForm.upperLimit.serverErrors">{{errorMessage}}</span>
                                </span>
                                </div>
                            </td>
                            <td class="min-width-70"
                                ng-show="countableDeps(factor.dependencies) > 0">
                                <div ng-show="!dependency.item.single">
                                <input class="form-control numbers"
                                       type="number"
                                       ng-model="dependency.step"
                                       ng-change="watchDeps(factor.dependencies)"
                                       name="step">
                                <span style="color: #ff0000;"
                                      ng-show="tempForm.step.$dirty && tempForm.step.$invalid">
                                    <span
                                            ng-show="!tempForm.step.$error.number && tempForm.step.$error.required">Requerido</span>
                                    <span ng-show="tempForm.step.$error.min">El
                                    valor mínimo es 0</span>
                                    <span ng-show="tempForm.step.$error.number">Solo números</span>
                                </span>
                                <span style="color: #ff0000;" ng-show="createForm[dependency.item.customId+'.step'].serverErrors">
                                    <span ng-repeat="errorMessage in createForm[dependency.item.customId+'.step'].serverErrors">{{errorMessage}}</span>
                                </span>
                                </div>
                            </td>
                            <td><a href="" ng-click="dropDep($index)"
                                   class="btn btn-danger"
                                   title="eliminar">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a></td>
                        </tr>
                        <tr title="Agregar dependencia" class="addRow">
                            <td colspan="3">
                                <select data-ng-model="lastAdded"
                                        ng-options="ava as (ava.customId | strip:'_':' ':true) for ava in available"
                                        data-ng-change="addDepRow()"
                                        title="Selecciona para agregar"
                                        class="form-control">
                                    <option value="" class="text-center"> -- Agregar dependencia -- </option>
                                </select>
                            </td>
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <button type="submit"
                        class="btn btn-primary"
                        data-ng-disabled="!isFormOk(createForm, factor)">
                    <span class="glyphicon"
                          ng-class="factor.id>0? 'glyphicon-edit': 'glyphicon-plus-sign'"></span>
                    {{factor.id > 0? 'Editar': 'Crear'}}</button>
                <a href="#/factores" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                    Cancelar
                </a>
            </div>

        </form>
    </div>
    <br/>

</div>